@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", 'Sans-serif';
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #ffffff;
}

.navbar{
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 23px;
}

.nav-ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-ul a{
    text-decoration: none;
    color: white;
}

.nav-ul li{
    list-style-type: none;
    cursor: pointer;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding: 20px;
}

.first-main {
    width: 50%;
    padding: 20px;
}

.main-info{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0px 40px;
}

.main-heading{
    font-size: 40px;
}

.second-main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-image {
    width: 100%;
    z-index: 2; 
}

.second-main::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.6;
    box-shadow: 10px 10px 15px #393a3a;
    border: 4px solid black;
}

.main-info{
    display: flex;
    flex-direction: column;
}

.nav-first h1{
    font-size: 17px;
    color: white;
}